<body>
  <div class="wrapper">
    <div class="header-bar">
      <header>The Millennial</header>
    </div>
    <div class="main">
      <!-- topbar with header -->
      <div class="topbar">
        <nav>
          <!-- create function for on click to show navigation with the icon below -->
          <div class="dropdown">
            <button class="fas fa-bars topbar-icon"></button>
            <div class="dropdown-content">
              <a href="#">Home</a>
              <a href="#">Account</a>
              <a href="#">Featured</a>
              <a href="#">New</a>
              <a href="#">Collections</a>
              <a href="#">SALE</a>
              <a href="#">Contact</a>
            </div>
          </div>
        </nav>
        <div class="far fa-heart topbar-icon"></div>
        <div class="fas fa-shopping-cart topbar-icon"></div>
      </div>
      <!-- search bar -->
      <div class="search-bar">
        <input type="text" placeholder="Search The Millennial" class="search-input-field">
        <button class="fas fa-search search-filter-btn"></button>
      </div>
      <!-- filter -->
      <div class="filter-bar">
        <div class="fb-secondary">
          <button [@openClose]="isOpen ? 'open' : 'closed'" class="fas fa-sort search-filter-btn"></button> Filter
        </div>
      </div>
      <!-- product container with products -->
      <div class="product-container">
        <div class="product-card">
          <div class="image">
            <img src="https://images.pexels.com/photos/1630319/pexels-photo-1630319.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
          </div>
          <div class="picture-text">
            <a href="#">
              <h3>Cactus</h3>
            </a>
            <p>$199.98</p>
          </div>
        </div>
        <div class="product-card">
          <img src="https://images.pexels.com/photos/937799/pexels-photo-937799.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
          <div class="picture-text">
            <a href="#">
              <h3>Cactus</h3>
            </a>
            <p>$199.98</p>
          </div>
        </div>
        <div class="product-card">
          <img src="https://images.pexels.com/photos/1367219/pexels-photo-1367219.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
          <div class="picture-text">
            <a href="#">
              <h3>Cactus</h3>
            </a>
            <p>$199.98</p>
          </div>
        </div>
        <div class="product-card">
          <img src="https://images.pexels.com/photos/1239387/pexels-photo-1239387.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
          <div class="picture-text">
            <a href="#">
              <h3>Cactus</h3>
            </a>
            <p>$199.98</p>
          </div>
        </div>
        <!-- load more section -->
        <ng-container *ngIf="display">
          <div class="product-card">
            <img src="https://images.pexels.com/photos/912410/pexels-photo-912410.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
            <div class="picture-text">
              <a href="#">
                <h3>Cactus</h3>
              </a>
              <p>$199.98</p>
            </div>
          </div>
          <div class="product-card">
            <img src="https://images.pexels.com/photos/2432185/pexels-photo-2432185.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
            <div class="picture-text">
              <a href="#">
                <h3>Cactus</h3>
              </a>
              <p>$199.98</p>
            </div>
          </div>
          <div class="product-card">
            <img src="https://images.pexels.com/photos/219779/pexels-photo-219779.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
            <div class="picture-text">
              <a href="#">
                <h3>Cactus</h3>
              </a>
              <p>$199.98</p>
            </div>
          </div>
          <div class="product-card">
            <img src="https://images.pexels.com/photos/2661685/pexels-photo-2661685.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
            <div class="picture-text">
              <a href="#">
                <h3>Cactus</h3>
              </a>
              <p>$199.98</p>
            </div>
          </div>
          <div class="product-card">
            <img src="https://images.pexels.com/photos/1369653/pexels-photo-1369653.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
            <div class="picture-text">
              <a href="#">
                <h3>Cactus</h3>
              </a>
              <p>$199.98</p>
            </div>
          </div>
        </ng-container>
      </div>
      <!-- load more button -->
      <div class="button-container" *ngIf="buttonDisplay">
        <button (click)="showMore()" name="button" class="load-button">Load More</button>
      </div>
    </div>
    <!-- footer -->
    <footer>
      <div class="footer-container">
        <div class="fab fa-twitter-square" id="footer-icon"></div>
        <div class="fab fa-instagram" id="footer-icon"></div>
        <div class="fab fa-pinterest-square" id="footer-icon"></div>
        <div class="fab fa-snapchat-square" id="footer-icon"></div>
        <div class="fab fa-facebook-square" id="footer-icon"></div>
      </div>
    </footer>
  </div>
</body>
